* {
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    margin: 5px;
    border: 1px solid rgb(162, 163, 187);
    background-color: rgb(226, 237, 247);
    margin-top: auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 92%;
}

.contentOne {
    display: grid;
    position: absolute;
    width: 92%;
    margin-top: 5px;
    grid-template-columns: repeat(2, 80% 20%);
    grid-template-rows: repeat(1, 1fr);
    background-color:rgb(162, 163, 187);
    padding: 15px;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    line-height: 1.5;
    border: 1px solid #fff;
    border-radius: 5px;

}


.infoBlock {
    display: grid;
    grid-column-start: 1fr;
    grid-row: 1;
    
    
}

.infoBlocktwo {
    display: grid;
    grid-column-start: 2fr;
    grid-row: 1;
    height: 100px;
    text-align: left;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

  

}

.lenta {
    display:grid;
    position: absolute;
    grid-template-columns:repeat(6, minmax(20px, 200px));
    grid-template-rows:repeat(1, 1fr);
    width: 93.6%;
    height: 250px;
    margin-top: 770px;
    align-content:center;
    justify-content: center;
    align-items:center;
    background-color:rgb(162, 163, 187);
    border: 1px solid #fff;
    border-radius: 5px;
    

}


button {
    width: 150px;
    height: 90px;
    align-items:center;
    justify-content: center;
    align-content:center;
    color: rgb(37, 35, 35);
    background-color:#fff;
    border: 1px solid rgb(75, 74, 74);
    border-radius: 5px;
    animation: rotate 5s  ease-in-out;
}

@keyframes rotate {
    from{
        rotate: 365deg;
    }
    to {
        scale: (0.9);
    }
}



button:hover{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
     transform: scale(0.9);
     animation:animation-name 2s infinite ease-in-out;
     
   
   }

   @keyframes animation-name {
    from{
        color: #464444;
        width: 190px;
        height: 190px;
        border-left: 3px solid #858585;
        border-right: 3px solid #727274;
        transition: background 0.3s ease color 0.2s linear;
        
        
    }
    to{
        background-color: #030303;
        color: #fff;
        box-shadow: 0 0 5px #fff;
    }
   }
    

    

.item1 {
    display: grid;
    position: absolute;
    grid-column: 1;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
    

    
}

.item2 {
    display: grid;
    position: absolute;
    grid-column: 2;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.item3 {
    display: grid;
    position: absolute;
    grid-column: 3;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.item4 {
    display: grid;
    position: absolute;
    grid-column: 4;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.item5 {
    display: grid;
    position: absolute;
    grid-column: 5;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.item6 {
    display: grid;
    position: absolute;
    grid-column: 6;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.line {
    
    width: 300px;
    height: 1px;
    background-color:rgb(226, 237, 247);
    animation: block 5s  ease-in-out;
}

h2 {
    font-size: 3.5em;
    color:black;
    animation: background-color  5s  ease-in-out;
    
}

@keyframes background-color {
    from {
        color:rgb(230, 222, 222);
        rotate: 0 0 2px 365deg;
    }
    to { color: #fff;
        
    }

}

@keyframes block {
    from{
        rotate: 365deg;
        
    }
    to {
        width: 207px;
        color: #fff; 
    }
}


